
#new{
    width: 100%;
    height: 100% ;
    position: absolute;
    left: 0px ;
    top:  0px  ;
    display: inline-block;
    /*background-color: #f6f7f9;*/
    overflow-y:auto;
    overflow-x:auto;
}
#new td{
    padding-left: 3px ;
    font-size: 10px ;
    text-align: center;
}
#new td .add-to{
    color: blue;
}

#center{
    display: inline-block;
    position: inherit;
    top: 10px ;
    left: 30%;
}

/*@media screen and (max-width: 1340px) {*/
    /*#new{*/
        /*width: 1276px ;*/
        /*position: absolute;*/
        /*left: 126px ;*/
        /*top:130px;*/
    /*}*/
/*}*/