#content-in{
    width: 100%;
    height: 100% ;
    position: absolute;
    left: 0px  ;
    top: 0px ;
    display: inline-block;
    overflow-y:auto;
    overflow-x:auto;
}
#content-in .paging{
    width: 1211px ;
    height: 450px ;
}
#content-in .paging tr:nth-of-type(2n){
    background-color: #eeeeee;
}
#center{
    display: inline-block;
    position: inherit;
    top: 10px ;
    left: calc(50% - 600px);
}
/*是否删除*/
.confirm0,
.confirm1,
.confirm2,
.confirm3,
.confirm4,
.confirm5,
.confirm6,
.confirm7,
.confirm8,
.confirm9
{
    /*display:none;*/
    width: 300px ;
    height: 150px;
    background-color: #769cb0;
    border-radius: 8px ;
    z-index: 1;
    color: brown;
    position:absolute;
    top: 50px;
    left: 400px;
    padding: 6px;
}
.confirm-ok{
    width: 40px;display: inline-block;line-height: 25px ;text-align: center ;
    background-color: #9d9d9d; height: 25px;border-radius: 6px;  margin-left: 20px;
}
.confirm-no{
    width: 40px;
    display: inline-block;
    line-height: 25px ;
    text-align: center  ;
    background-color: #9d9d9d;
    height: 25px;
    border-radius: 6px;
    margin-left: 60px;
}
/*是否删除*/

/*查询排列*/
#query-button{
    height: 140px ;
    width:1140px ;
}
#query-button .top1{
    width:350px;
    height: 40px ;
    display: inline-block;
    line-height: 38px ;
    border:1px solid rgba(62,62,62,0.2);
    text-align: center;
    float: left;
}
#query-button .top1>span{
    display: inline-block;
    width: 100px ;
    height: 37px ;
    background-color: #eeeeee;
    float: left;
    margin-top: 1px ;
    margin-left: 1px ;
}
#query-button .top1>select{
    height: 30px ;
    width: 230px ;
}
#query-button .top2{
    width:300px;
    height: 40px ;
    display: inline-block;
    float: left;
    text-align: center;
    border:1px solid rgba(62,62,62,0.2);
    margin-left: 70px ;
    margin-right: 70px ;
}
#query-button .top2>span{
    display: inline-block;
    width: 100px ;
    height: 37px ;
    line-height: 38px ;
    background-color: #eeeeee;
    float: left;
    margin-top: 1px ;
    margin-left: 1px ;
}
#query-button .top2 input{
    width: 80px ;
    height: 37px ;
    border: 0px ;
}
#query-button .top3{
    width:300px;
    height: 40px ;
    display: inline-block;
    line-height: 40px ;
    text-align: center;
    border:1px solid rgba(62,62,62,0.2);
    float: right;
}
#query-button .top3>span{
    display: inline-block;
    width: 100px ;
    height: 37px ;
    line-height: 38px ;
    background-color: #eeeeee;
    float: left;
    margin-top: 1px ;
    margin-left: 1px ;
}
#query-button .top3 input{
    width: 180px ;
    height: 30px ;
    border: 0px ;
}
#query-button .query-in{
    width: 100%;
    height: 40px ;
    float: left;
    margin-top: 15px ;
}
#query-button .in1{
    width:350px;
    height: 40px ;
    display: inline-block;
    float: left;
    line-height: 38px;
    text-align: center;
    border:1px solid rgba(62,62,62,0.2);
}
#query-button .in1>span{
    display: inline-block;
    width: 100px ;
    height: 37px ;
    line-height: 38px ;
    background-color: #eeeeee;
    float: left;
    margin-top: 1px ;
    margin-left: 1px ;
}
#query-button .in1 input{
    display: inline-block;
    width: 100px ;
    height: 37px ;
    float: left;
    border: 0px ;
    padding-left: 3px ;
}
#query-button .in1 select{

    width: 230px ;
    height: 30px ;

}
#query-button .in2{
    width:300px;
    height: 40px ;
    display: inline-block;
    float: left;
    text-align: center;
    line-height: 38px;
    border:1px solid rgba(62,62,62,0.2);
    margin-left: 70px ;
    margin-right: 70px ;
}
#query-button .in2>span{
    display: inline-block;
    width: 100px ;
    height: 37px ;
    line-height: 38px ;
    background-color: #eeeeee;
    float: left;
    margin-top: 1px ;
    margin-left: 1px ;
}
#query-button .in2 input{
    width:80px ;
    height: 37px ;
    border: 0px ;
}
#query-button .in2 select{
    line-height: 40px ;
    width: 230px ;
    height: 30px ;

}
#query-button .in3{
    width:300px;
    height: 40px ;
    display: inline-block;
    float: left;
    text-align: center;
    line-height: 38px;
    border:1px solid rgba(62,62,62,0.2);
float: right;
}
#query-button .in3>span{
    display: inline-block;
    width: 100px ;
    height: 37px ;
    line-height: 38px ;
    background-color: #eeeeee;
    float: left;
    margin-top: 1px ;
    margin-left: 1px ;
}
#query-button .in3 input{
    width: 80px ;
    height: 37px ;
    border: 0px ;
}
/*查询*/
#content-in .query{
    width: 80px;
    height: 25px ;
    border-radius: 7px ;
    background-color: #7d7dff;
    cursor: pointer;
    float: right;
    margin-top: 10px;
}
#content-in .query:hover,
#content-in .reset:hover,
#content-in .add:hover{
    background-color: #7d7dff;
    color: #000000;
}
#content-in .reset{
    width: 50px;
    height: 25px ;
    border-radius: 7px ;
    cursor: pointer;
    background-color: #fbfbfb;
    float: right;
}
#content-in .add{
    width: 50px;
    height: 25px ;
    border-radius: 7px ;
    cursor: pointer;
    background-color: #7d7dff;
    float: left;
    margin-top: 10px ;
    line-height: 25px ;
    text-align:center;
}
/*查询*/