spring:
  devtools:
    restart:
      enabled: true #热部署
  datasource:
    url: jdbc:mysql://47.112.131.21:3306/oa?useUnicode=true&characterEncoding=utf-8&serverTimezone=GMT%2B8&allowMultiQueries=true
    username: root
    password: Peng186595
  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp
    static-path-pattern: /**
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
      enabled: true
# Mybatis
mybatis:
  #实体类所做包
  type-aliases-package: com.beans
  #mapper.xml所在位置
  mapperLocations: classpath:dao/*.xml
logging:
  level:
    com.dao: DEBUG
server:
  port: 8080