table tr:nth-of-type(2n-1){
    background-color: #efefef;
}

#query-button{
    height: 90px ;
    width:1200px ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px ;
}
#query-button .top1{
    width:350px;
    height: 40px ;
    display: inline-block;
    line-height: 38px ;
    border:1px solid rgba(62,62,62,0.2);
    text-align: center;
    float: left;
}
#query-button .top1>span{
    display: inline-block;
    width: 100px ;
    height: 37px ;
    background-color: #eeeeee;
    float: left;
    margin-top: 1px ;
    margin-left: 1px ;
}
#query-button .top1>input{
    display: inline-block;
    width: 245px ;
    height: 37px ;
    float: left;
    border: 0px ;
    padding-left: 3px ;
}
#query-button .top2{
    width:400px;
    height: 40px ;
    display: inline-block;
    float: left;
    text-align: center;
    border:1px solid rgba(62,62,62,0.2);
    margin-left: 300px ;
}
#query-button .top2>span{
    display: inline-block;
    width: 100px ;
    height: 37px ;
    line-height: 38px ;
    background-color: #eeeeee;
    float: left;
    margin-top: 1px ;
    margin-left: 1px ;
}
#query-button .top2 input{
    width: 140px ;
    height: 38px ;
    border: 0px ;
}
#query-button .query-in{
    width: 100%;
    height: 40px ;
    float: left;
    margin-top: 15px ;
}
#query-button .query-top{
    width: 100%;
    height: 40px ;
}
#query-button .in1{
    width:350px;
    height: 40px ;
    display: inline-block;
    float: left;
    text-align: center;
    border:1px solid rgba(62,62,62,0.2);

}
#query-button .in1>span{
    display: inline-block;
    width: 100px ;
    height: 37px ;
    line-height: 38px ;
    background-color: #eeeeee;
    float: left;
    margin-top: 1px ;
    margin-left: 1px ;
}
#query-button .in1 input{
    width: 235px ;
    margin-top: 7px ;
    border: 0px ;
}
#query-button .in2{
    width:450px;
    height: 40px ;
    display: inline-block;
    float: left;
    text-align: center;
    border:1px solid rgba(62,62,62,0.2);
    margin-left: 300px;
}
#query-button .in2>span{
    display: inline-block;
    width: 100px ;
    height: 37px ;
    line-height: 38px ;
    background-color: #eeeeee;
    float: left;
    margin-top: 1px ;
    margin-left: 1px ;
}
#query-button .in2 input{
    display: inline-block;
    width: 150px ;
    height: 37px ;
    float: left;
    border: 0px ;
    padding-left: 3px ;
}
/*查询*/


 .query{
     display: block;
    width: 80px;
    height: 25px ;
    border-radius: 7px ;
    background-color: #7d7dff;
    cursor: pointer;
    float: right;
    margin-top: 10px ;
}
 .query:hover{
    background-color: #7d7dff;
}
/*查询*/