form{
    padding-top: 10px ;
}
#content{
    margin-left: auto;
    margin-right: auto;
    width: 1200px ;
    height: 600px ;
}
#content .content-top{
    display: inline-block;
    height: 55px ;
    width: 100%;
    background-color: #e4edf4;
}
#content .content-b{
    width: 100%;
    height:30px  ;
    margin-top: 25px ;
    padding-left: 10px ;
}
#content .content-b .label-b{
    display: inline-block;
    width: 70px ;
    height: 30px ;
    background-color: #e4edf4;
    text-align: center;
    line-height: 30px ;
    cursor: pointer;
}
#content .content-b .dian{
    background-color: #ffffff;
}
#content .con{
    /*border: 1px solid;*/
    width:1200px  ;
    height: 545px ;
}
#content .con td{
    border: 1px solid rgba(0, 0, 0, 0.2);
}
/*确定 返回 按钮*/
.ok,
.no{
    width: 60px;
    height: 30px ;
    border-radius:3px  ;
    display: inline-block;
    float: left;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background-color: #787dff;
}
.ok{
    margin-left:550px  ;
    margin-top: 10px ;
}
.no{
    margin-left: 50px ;
    margin-top: 10px ;
}
.ok:hover,
.no:hover{
    color: #ffffff;
}
/**/
.row{
    width:150px ;background-color: #efefef
}
.row-1{
    width:500px ;
}
.row-i{
    width: 450px ;
    height: 30px ;
}

.con-2 .con2-0{
    border: 1px solid #e6e6e6;
    height: 400px ;
    width: 450px;
    display: inline-block;
    padding: 0px
}
.con-2 .con2-1 {
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    height: 40px;
    display: block;
    margin: 0px;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
}
.con-2 .con2-2 {
    overflow: auto;
    height: 355px;
    width: 100%;
    padding-left: 185px
}
.con-3 .con3{
    width:700px ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px ;
    height: 30px ;
    font-size: 15px ;
    line-height:30px;
}
.con-3 .con3 a{
    display: inline-block;
    text-align: center;
    margin-left: 100px;
    width:55px ;
    height: 30px;
    background-color: #fd8205;
    border-radius: 3px;
}
.con-3 .con3no{
    overflow: auto;
    width: 460px ;
    height: 300px ;
    border: 1px solid;
    background-color: #FFFFFF;
    position: absolute;
    left: 35%;
    top: 20%;
}
.con-3 .con3no span{
    display: inline-block;
    width: 55px ;
    height:30px;
    line-height: 30px ;
    text-align: center ;
    background-color: #f4f4f4;
    cursor: pointer;
    position: absolute;
    top:260px ;
    left: 46%;
}
.con-4 .con4{
    width:600px ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px ;
    height: 30px ;
    font-size: 15px ;
    line-height:30px;
}
.con-4 .con4 span{
    width: 85px ;
    display: inline-block;
}
.con-4 .con4 input{
    border: 1px solid;width:350px
}
.con-5 .con5-on{
    width: 100%;
    height: 300px;
    overflow: auto;
}
.con-5 .con5-in{
    /*border-bottom:1px solid #efefef;*/
    margin-bottom: 5px;
}
.con-5 .con5-in .co{
    color: #177cce;
}
.con-5 .con5-bu{
    width: 100%;height: 200px
}
.con-5 .con5-bu span{
    display: block;
    margin-bottom: 5px ;
}
.con-5 .con5-bu textarea{
    width: 600px ;
    height: 120px;
    resize:none;
    display: block;
    margin-bottom: 10px;
}
.con-5 .con5-bu input{
    width: 60px;
    height: 30px ;
    border-radius:3px  ;
    display: inline-block;
    float: left;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background-color: #787dff;
}
.con-6{
    width: 600px ;
    height: 400px ;
    /*border: 1px  solid;*/
    background-color: #ffffff;
    position: absolute;
    top: 16%;
    left: 30%;
}
.con-6 .con6{
    height: 35px;
    text-align: center;
    border: 1px solid;
}
.con-6 .con6 td{
    border: 1px solid;
}
.con-7{
    text-align: center;
    overflow: auto;
}
.con-7 li{
    height:30px;
    margin-top:10px;
}



