#content-in{
    width: 100%;
    height: 100% ;
    position: absolute;
    left: 0px ;
    top:  0px ;
    display: inline-block;
    /*background-color: #f6f7f9;*/
    overflow-y:auto;
    overflow-x:auto;
}
#center{
    display: inline-block;
    position: inherit;
    top: 10px ;
    left: calc(50% - 670px);
}
#center td{
    padding-left: 4px ;
}
#add{
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    line-height: 20px ;
    cursor:pointer;
    text-align: center;
    display: inline-block;
    width: 50px ;
    height: 20px ;
    background-color: #787dff;
    border-radius: 5px ;
}
#remove{
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    line-height: 20px ;
    cursor:pointer;
    text-align: center;
    display: inline-block;
    width: 50px ;
    height: 20px ;
    background-color: #787dff;
    border-radius: 5px ;
}
/*添加按钮*/
.herf{
    width: 60px;
    height: 30px ;
    border-radius:3px  ;
    border: 1px #e1e1e1;
    display: inline-block;
    float: left;
    line-height: 30px;
    text-align: center;
    color: #1d1d1d;
    background-color: #eeeeee;
}
.herf0{
    width: 60px;
    height: 30px ;
    border-radius:3px  ;
    border: 1px #e1e1e1;
    display: inline-block;
    float: left;
    line-height: 30px;
    text-align: center;
    color: #1d1d1d;
    background-color: #eeeeee;
}


