#query{
    position: absolute;
    left: 170px ;
    top: 130px ;
    border: 1px solid #000000;
    height: 780px  ;
    background-color: #f6f7f9;
    display: inline-block;
}
#query .top{
    height: 50px ;
    display: inline-block;
    margin-top: 10px ;
}

#query .top span{
    line-height: 50px ;
}
#query .left,
#query .in,
#query .right{
    display: inline-block;
}
#query .in .add-to{
    color: #333333;
}
#query .in .add-to:hover{
    color: blue;
}

.add-to{
    width: 40px ;
    height: 16px ;
    font-size: 13px ;
    text-align: right;
    display: inline-block;
    background: url("../../../imgs/org_select.png") no-repeat;
    background-position:0px 3px  ;
}
.clear-to{
    color: #8c8c8c;
    width: 40px ;
    height: 16px ;
    font-size: 13px ;
    text-align: right;
    display: inline-block;
    background: url("../../../imgs/org_select.png") no-repeat;
    background-position:0px -56px  ;
}
.clear-to:hover{
    color: blue;
    background: url("../../../imgs/org_select.png") no-repeat;
    background-position:0px -36px  ;
}
/**/

#content-in{
    width: 91%;
    height: 80% ;
    position: absolute;
    left: 9% ;
    top: 130px ;
    display: inline-block;
    /*background-color: #f6f7f9;*/
    overflow-y:auto;
    overflow-x:auto;
}
#center{
    position: absolute;
    top: 10px ;
    left: calc(50% - 605px);
}
@media screen and (max-width: 1340px) {
    #content-in{
        width: 1276px ;
        position: absolute;
        left: 126px ;
        top:130px;
    }
}
/**/
table{
    background-color: #ffffff;
}
#content-in td{
    padding: 5px ;
}
#content-in .add-to{
    display: inline-block;
    width: 45px ;
    height: 20px ;
    color: blue;
    float: left;
    margin-top: 12px ;
    margin-left: 4px ;
}
#content-in .clear-to{
    float: left;
    margin-top: 12px ;
    margin-left: 4px ;
}
/* 查询*/
/*查询*/
#content-in .query{
     width: 80px;
     height: 25px ;
     border-radius: 7px ;
     background-color: #fbfbfb;
     cursor: pointer;
    float: right;
 }
#content-in .query:hover,
#content-in .reset:hover,
#content-in .add:hover{
    background-color: #7d7dff;
}
#content-in .reset{
    width: 50px;
    height: 25px ;
    border-radius: 7px ;
    cursor: pointer;
    background-color: #fbfbfb;
    float: right;
}
#content-in .add{
    width: 50px;
    height: 25px ;
    border-radius: 7px ;
    cursor: pointer;
    background-color: #fbfbfb;
    float: left;
}
/*查询*/
#content-in .start{
    text-align: center;
    background-color: #c4de83;
    /*border-bottom: 1px solid  #000000 ;*/
}
#content-in .start td{
    /*border-right: 1px solid #000000;*/
}
#content-in .content .content-in{
    text-align: center;
}
#content-in .content:nth-of-type(2n-1){
    background-color: #eeeeee;
}
#content-in .content {
    /*border-bottom: 1px solid  #000000 ;*/
}
#content-in .paging{
    width: 1211px ;
    height: 535px ;
    /*border: 1px solid #000000;*/
}
#paging-selection {
    width: 1211px ;
    height: 70px ;
    display: inline-block;
    margin-top: 20px ;
}
#content-in .page-selection{
    padding-top: 20px;
    margin-left: auto ;
    margin-right: auto;
    text-align: center;
    color: #8c8c8c;
}
#content-in .page-selection .format{
    width: 55px ;
    height: 30px ;
    border: 1px solid #8c8c8c;
    border-radius: 7px;
    margin-right: 5px ;
    display: inline-block;
}
#content-in .page-selection li{
    width: 20px ;
    height: 30px ;
    border: 1px solid #8c8c8c;
    border-radius: 7px;
    margin-right: 5px ;
    display: inline-block;
    line-height: 30px ;
}
#content-in .page-selection li:hover{
    background-color:#7d7dff ;
    cursor: pointer;
}
#content-in .page-selection a{
    width: 100%;
    height: 100%;
    color: #000000;
}
#content-in .page-selection .dian{
    width: 40px ;
    display: inline-block;

}
#content-in .page-selection .dian-in{
    /*display: inline-block;*/
    display: none;
}
/*分页*/
#paginator-test{
    margin-left: 400px ;
}
#paginator-test a{
    width: 40px ;
    height: 40px ;
    margin-left: 4px ;
    line-height: 25px ;
    text-align: center;
}
/*分页*/
/*是否删除*/
/*#confirm{*/
    /*display:none;*/
    /*width: 200px ;*/
    /*height: 200px;*/
    /*background-color: blue;*/
    /*z-index: 1;*/
    /*color: brown;*/
    /*position: absolute;*/
    /*top: 200px ;*/
    /*left: 700px;*/
    /*padding: 6px;*/
/*}*/
/*#confirm .confirm-ok{*/
    /*width: 40px;display: inline-block;line-height: 25px ;text-align: center ;*/
    /*background-color: #9d9d9d; height: 25px;border-radius: 6px;  margin-left: 20px;*/
/*}*/
/*#confirm .confirm-no{*/
    /*width: 40px;*/
    /*display: inline-block;*/
    /*line-height: 25px ;*/
    /*text-align: center  ;*/
    /*background-color: #9d9d9d;*/
    /*height: 25px;*/
    /*border-radius: 6px;*/
    /*margin-left: 60px;*/
/*}*/

/*是否删除*/
#confirm{
    display:none;
    width: 300px ;
    height: 150px;
    background-color: #fcffec;
    border-radius: 8px ;
    z-index: 1;
    color: brown;
    position:absolute;
    top: 200px;
    left: 500px;
    padding: 6px;
}
#confirm .confirm-ok{
    width: 40px;display: inline-block;line-height: 25px ;text-align: center ;
    background-color: #9d9d9d; height: 25px;border-radius: 6px;  margin-left: 20px;
}
#confirm .confirm-no{
    width: 40px;
    display: inline-block;
    line-height: 25px ;
    text-align: center  ;
    background-color: #9d9d9d;
    height: 25px;
    border-radius: 6px;
    margin-left: 60px;
}
/*是否删除*/
/*是否删除*/


/*查询排列*/
#query-button{
    height: 80px ;
    width:1201px ;
}
#query-button .top1{
    width:300px;
    height: 40px ;
    display: inline-block;
    line-height: 38px ;
    border:1px solid rgba(62,62,62,0.2);
    text-align: center;
    float: left;
}
#query-button .top1>span{
    display: inline-block;
    width: 100px ;
    height: 37px ;
    background-color: #eeeeee;
    float: left;
    margin-top: 1px ;
    margin-left: 1px ;
}
#query-button .top1>input{
    display: inline-block;
    width: 195px ;
    height: 37px ;
    float: left;
    border: 0px ;
    padding-left: 3px ;
}
#query-button .top2{
    width:300px;
    height: 40px ;
    display: inline-block;
    float: left;
    text-align: center;
    border:1px solid rgba(62,62,62,0.2);
    margin-left: 100px ;
}
#query-button .top2>span{
    display: inline-block;
    width: 100px ;
    height: 37px ;
    line-height: 38px ;
    background-color: #eeeeee;
    float: left;
    margin-top: 1px ;
    margin-left: 1px ;
}
#query-button .top2 input{
    width: 197px ;
    margin-top: 7px ;
    border: 0px ;
}