
#new{
    width:100%;
    height: 100% ;
    position: absolute;
    left: 0px  ;
    top:  0px  ;
    display: inline-block;
    /*background-color: #f6f7f9;*/
    overflow-y:auto;
    overflow-x:auto;
}
#center{
    display: inline-block;
    position: inherit;
    top: 10px ;
    left: calc(50% - 250px);
}
#new td{
    padding-left: 5px ;
}
/*@media screen and (max-width: 1340px) {*/
    /*#new{*/
        /*width: 1276px ;*/
        /*position: absolute;*/
        /*left: 126px ;*/
        /*top:130px;*/
    /*}*/
/*}*/

#center td .return:hover{
    color:#000000 ;
}
