*{
    margin: 0px;
    font-weight: normal;
    padding: 0px ;
    font-family: "宋体","微软雅黑";
}
a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
a:hover{
    text-decoration: none;
}

ul,
li{
    list-style: none;
    margin: 0px;
    width: 100%;
    text-align: center;
}
li>a{
    display: block;
}
input{
    border: 0px ;
    outline: none;
}
body,
html{
    height: 100%;
}
#left {
    width: 100% ;
    height: 700px ;
    margin: 10px auto 0px auto;
    border: 1px solid #3c3c3c;
    border-radius: 10px ;
}
#left>.title{
    font-size: 30px ;
    width: 100%;
    height: 60px ;
    text-align: center;
    line-height: 60px ;
    background-color: #c4de83;
    margin: 0px;
    border-radius: 10px  10px 0px 0px ;
}
.yiji a{
    height: 30px ;
    line-height: 30px ;
}
.click{
    border-bottom:1px solid #000000 ;
    background-color: #dae9bb;
}
.name li>a{
    border-bottom: 1px dashed #3c3c3c;
}
.name li>a:hover{
    background-color: #dae9bb;
}
#close{
    width: 100%;
    position: relative;
    height: 100px ;

}
#close .close-in{
    font-size: 20px ;
    width: 300px ;
    height: 60px ;
    border-radius: 10px ;
    background-color: #2aabd2;
    display: inline-block;
    line-height: 60px ;
    text-align: center;
    position: absolute;
    bottom: -20px;
    left:0px  ;
    right: 0px ;
    margin: 0px auto;
}
