#content-in{
    position: absolute;
    left: 600px ;
    top: 130px ;
    background-color: #f6f7f9;
}
table{
    background-color: #ffffff;
}
#content-in th{
    height: 45px ;
    background-color: #c4de83;
}
#content-in td{
    padding: 5px ;
}
#content-in .choice{
    background-color: #e0e0e0;
}
#content-in input{
    border: 1px solid #c0bbb4;
}
#content-in .add-to{
    color: blue;
}