*{
    margin: 0px;
    font-weight: normal;
    padding: 0px ;
    font-family: "宋体","微软雅黑";
}
a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
a:hover{
    text-decoration: none;
}
ul,
li{
    list-style: none;
    margin: 0px;
}
input{
    border: 0px ;
    outline: none;
}
body,
html{
    height: 100%;
}
body{
    position: relative;
    font-size: 12px;

}
a:link,
a:visited{
    text-decoration: none;
    /*color: #fff;*/
}

#left{
    width: 9%;
    height: 100%;
    float: left;
    display: inline-block;
    background-color: #1e81b0;
    /*border-right: 2px solid #8c8c8c;*/
}
#left>#imgs{
    width: 100%;
    height: 90px ;
    background-color: #467ca2;
}
#left>#imgs img {
    padding-left: 12%;
    padding-top: 5px ;
    width: 80% ;
    height: 80px;
    display: inline-block;
}
#imgs{
    width: 8% ;
    height: 90px ;
    display: inline-block;
    float: left;
    /*position: absolute;*/
    /*left: 0% ;*/
    /*top:0px;*/
    background-color: #1e81b0;
}
#top{
    width: 92%;
    height: 90px ;
    display: inline-block;
    float: left;
    /*position: absolute;*/
    /*left: 8% ;*/
    /*top:0px;*/
    background-color: #1e81b0;
    /*//#1e81b0*/
    /*//156dc8*/
}
#top>a{
    width: 110px ;
    height: 100%;
    text-align: center;
    display: inline-block;
    color: #ffffff;
    padding-top: 1% ;
    transition: 2s;
    float: left;
}
#top #tc{
    width: 90px ;
    height: 100%;
    text-align: center;
    display: inline-block;
    color: #ffffff;
    transition: 2s;
    float: left;
}
#top>a:hover,
#top>#tc{.
    color: #cb2a4b;
}
#top .top-right{
    width: 90px ;
    float: right;
}
#top>a>p,
#top>#tc{
    margin-top: 10px ;
}
/**/
#page{
    /*width: 100% ;*/
    /*height: 40px ;*/
    /*position: absolute;*/
    /*top: 0px ;*/
    /*left: 0px ;*/
    /*border: 1px solid #3c3c3c;*/
    /*float: left;*/
    /*background-color: #e5e5e5;*/
    /*line-height: 40px ;*/
    width: 100% ;
    height: 40px ;
    position: absolute;
    top: 0px ;
    left: 0px ;
    float: left;
}
#page h3{
    width: 200px ;
    height: 30px ;
    display: inline-block;
    line-height: 40px ;
    padding-left: 3px ;
    margin: 0px ;
}
/**/
#weather{
    width: 200px ;
    height: 100%;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    float: right;
    padding-top: 12px ;
    margin-right: 8%  ;
}
#time{
    display: inline-block;
    width: 230px ;
    height: 100%;
    font-size: 88px;
    color: #ffffff;
    background-color:transparent ;
    float: right;
}
#top .day-time{
    display: inline-block;
    float: right;
    margin-top: 10px ;
}
#daytime{
    display: block;
    width: 130px ;
    height: 25px ;
    font-size: 25px;
    color: #ffffff;
    background-color:transparent ;
}
#day{
    display: block;
    width: 130px ;
    height: 40px ;
    font-size: 25px;
    color: #ffffff;
    background-color:transparent ;
}
#left>img{
    float: left;
}
#menu{
    color: #ffffff;
    float: left;
    width: 100%;
    /*margin-top: 12px;*/
    border-top:1px solid #4c647c;
    border-bottom:1px solid #4c647c;
}
#menu .list{
    width: 100%;
    border-bottom:solid 1px #316a91;

}


#menu .list ul li{
    background-color:#467ca2;
    border:solid 1px #316a91;
    border-bottom:0;
}
#menu .list ul li a{
    padding-left: 10px;
    color: #fff;
    font-size:12px;
    display: block;
    font-weight:bold;
    height:40px;
    line-height: 40px;
    position: relative;
}
#menu .list ul li .inactive,
#menu .list ul li .inactive1{
    background:url(../imgs/off.png) no-repeat 90% center;
}
#menu .list ul li .inactives{
    background:url(../imgs/on.png) no-repeat 90% center;
}
#menu .list ul li ul{
    display: none;
}
#menu .list ul li ul li {
    border-left:0;
    border-right:0;
    background-color:#6196bb;
    border-color:#467ca2;
}
#menu .list ul li ul li ul{
    display: none;
}
#menu .list ul li ul li a{
    padding-left:20px;
}
#menu .list ul li ul li ul li {
    background-color:#d6e6f1;
    border-color:#6196bb;
}
#menu .last{
    background-color:#d6e6f1;
    border-color:#6196bb;
}
#menu .list ul li ul li ul li a{
    color:#316a91;
    padding-left:30px;
}

/**/

/**/

 .add-to,
 .add-to1,
 .add-to2,
 .add-to3,
 .add-to4,
 .add-to5,
 .add-to6,
 .add-to7
 {
    color: blue;
}
.add-to,
.add-to1,
.add-to2,
.add-to3,
.add-to4,
.add-to5,
.add-to6,
.add-to7
{
    width: 40px ;
    height: 16px ;
    font-size: 13px ;
    text-align: right;
    display: inline-block;
    background: url("../imgs/org_select.png") no-repeat;
    background-position:0px 3px  ;
}
.clear-to,
.clear-to1,
.clear-to2,
.clear-to3,
.clear-to4,
.clear-to5,
.clear-to6,
.clear-to7{
    color: #8c8c8c;
    width: 40px ;
    height: 16px ;
    font-size: 13px ;
    text-align: right;
    display: inline-block;
    background: url("../imgs/org_select.png") no-repeat;
    background-position:0px -56px  ;
}
.clear-to:hover,
.clear-to1:hover,
.clear-to2:hover,
.clear-to3:hover,
.clear-to4:hover,
.clear-to5:hover,
.clear-to6:hover,
.clear-to7:hover{
    color: blue;
    background: url("../imgs/org_select.png") no-repeat;
    background-position:0px -36px  ;
}
.clear-to input,
.clear-to1 input,
.clear-to2 input,
.clear-to3 input,
.clear-to4 input,
.clear-to5 input,
.clear-to6 input,
.clear-to7 input
{
    background-color: #ffffff;
}
/*负责人选择*/

#choice,
#choice1,
#choice2,
#choice3,
#choice4,
#choice5,
#choice6,
#choice7
{
    width: 400px ;
    /*height: 100% ;*/
    display: inline-block;
    margin: 10px auto 0px auto;
    border: 1px solid #3c3c3c;
    border-radius: 10px ;
    position: absolute;
    top: 90px;
    left: 600px  ;
    z-index: 1;
    background-color: #ffffff;
}
#choice .title,
#choice1 .title,
#choice2 .title,
#choice3 .title,
#choice4 .title,
#choice5 .title,
#choice6 .title,
#choice7 .title{
    font-size: 30px ;
    width: 100%;
    height: 60px ;
    border-radius: 10px 10px  0px  0px  ;
    text-align: center;
    line-height: 60px ;
    background-color: #c4de83;
    margin: 0px;
}
#choice .name li,
#choice1 .name1 li,
#choice2 .name2 li,
#choice3 .name3 li,
#choice5 .name5 li,
#choice6 .name6 li,
#choice7 .name7 li{
    font-size: 16px ;
    width: 100%;
    height: 30px ;
    text-align: center;
    line-height: 30px ;
    background-color: #c4de83;
    margin: 0px;
    /*border-radius: 10px  10px 10px 10px ;*/
}
#choice .yiji-no a,
#choice1 .co1 a,
#choice2 .yiji-no2 a,
#choice3 .co3 a,
#choice5 .co5 a,
#choice6 .co6 a,
#choice7 .co7 a{
    height: 30px ;
    line-height: 30px ;
}
#choice .yiji-no li,
#choice1 .co1,
#choice2 .yiji-no2 li,
#choice3 .co3,
#choice5 .yiji-no5 li,
#choice6 .yiji-no6 li,
#choice7 .yiji-no7 li{
    background-color: #dae9bb;
    text-align: center;
}
#choice .click,
#choice1 .click,
#choice2 .click,
#choice3 .click,
#choice5 .click,
#choice6 .click,
#choice7 .click{
    border-bottom:1px solid #000000 ;
    background-color: #dae9bb;
}
#choice .name li>a,
#choice1 .name1 li>a,
#choice2 .name2 li>a,
#choice3 .name3 li>a,
#choice5 .name5 li>a,
#choice6 .name6 li>a,
#choice7 .name7 li>a{
    border-bottom: 1px dashed #3c3c3c;
}
#choice .name li>a:hover,
#choice1 .name1 li>a:hover,
#choice2 .name2 li>a:hover,
#choice3 .name3 li>a:hover,
#choice5 .name5 li>a:hover,
#choice6 .name6 li>a:hover,
#choice7 .name7 li>a:hover{
    background-color: #dae9bb;
}
#close,
#close1,
#close2,
#close3,
#close4,
#close5,
#close6,
#close7{
    width: 100%;
    position: relative;
    height: 60px ;

}
#close .close-in,
#close1 .close-in,
#close2 .close-in,
#close3 .close-in,
#close4 .close-in,
#close5 .close-in,
#close6 .close-in,
#close7 .close-in{
    font-size: 20px ;
    /*width: 300px ;*/
    width: 100%;
    height: 60px ;
    border-radius:0px  0px 10px 10px ;
    background-color: #2aabd2;
    display: inline-block;
    line-height: 60px ;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left:0px  ;
    right: 0px ;
    margin: 0px auto;
}
/*#choice4*/
#choice4 .search{
    margin-top: 4px ;
    width: 100%;
    text-align: center;
}
#choice4 .search .search-1 {
    width: 200px ;
    height: 20px ;
}
#choice4 .search .search-2,
#choice4 .search .search-3{
    background-color: #FFFFFF;
    width: 24px ;
    height: 20px ;
}
#choice4 .choice4-con,
#choice4 .noe-no,
#choice4 .tow-no{
    width: 100%;
    height: 270px ;
    text-align: center;
    overflow-y: auto;
}
#choice4 .choice4-con a{
    width: 40%;
    height: 100px ;
    display: inline-block;
    margin-top: 70px ;
}
#choice4 .choice4-con a:hover{
    background-color: #2493b4;
}
 #choice4 .choice4-con .noe{
     background-color: #2cb5de;
     margin-left: 20px ;
     margin-right: 30px ;
 }
#choice4 .choice4-con .tow{
    background-color: #2cb5de;

}
#choice4 .choice4-con a p{
    text-align: center;
    line-height: 100px;
   font-size: 24px ;
}
#choice4 .noe-no li{
    text-align: center;
    height: 25px ;
    line-height: 25px ;
}
#choice4 .tow-in-1{
    width: 100%;
    height: 20px ;
    line-height: 20px ;
    display: inline-block;
    background-color: #1f809e;
    margin-bottom: 2px ;
}
#choice4 .tow-in-2,
#choice4 .tow-in-3,
#choice4 .tow-in-4,
#choice4 .tow-in-5{
    height: 15px;
    width: 80%;
    margin: 0px ;
    display: inline-block;
    background-color: #2aabd2;
}
/*#choice4*/

    /*查询*/
#content-in .query{

    width: 80px;
    height: 25px ;
    border-radius: 7px ;
    background-color: #fbfbfb;
    cursor: pointer;
}
#content-in .query:hover,
#content-in .reset:hover{
    background-color: #7d7dff;
}
#content-in .reset{
    width: 50px;
    height: 25px ;
    border-radius: 7px ;
    cursor: pointer;
    background-color: #fbfbfb;
}
/*查询*/
@media screen and (max-width: 1340px) {
    #top{
        width: 1277px ;
        height: 90px ;
        position: absolute;
        left: 126px ;
        top:0px;

    }
    #left{
        width: 126px ;
    }
    #page{
        width: 1276px ;
        position: absolute;
        left: 126px ;
        top:90px;
    }
}

/*确定 返回 按钮*/
#ok,
#no{
    width: 60px;
    height: 30px ;
    border-radius:3px  ;
    display: inline-block;
    float: left;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background-color: #787dff;
}
 #ok{
    margin-left:250px  ;
    margin-top: 10px ;
}
#no{
    margin-left: 50px ;
    margin-top: 10px ;
}
 #ok:hover,
#no:hover{
     color: #ffffff;
}
/**/
/*分页*/
#paginator-test{
    margin-left: 40%;
}

/*审批人*/
#center .approval tr:nth-of-type(2n-1){
    background-color: #eeeeee;
}
/*审批人*/
/*表格颜色*/
.Color{
    background-color: #efefef;
    text-align: center;
}
/*表格颜色*/
/*二级菜单颜色*/
#nav li:hover{
    background-color: #00FF00;
}
#nav .sub-menu li{
    background-color: #0ab9ff;
}
#nav .sub-menu li:hover{
    background-color:#0000FF ;
}