*{
    margin: 0px;
    font-weight: normal;
    padding: 0px ;
    font-family: "宋体","微软雅黑";
}
a{
    text-decoration: none;
    color: #000;
}
ul{
    list-style: none;

}
input{
    border: 0px ;
    outline: none;
}
body,html{
    height: 100%;
}
#top{
    height: 100%;
}
#top img{
    /*width: 130px  ;*/
    /*height: 120px ;*/
}
/*#on{*/
    /*width: 500px ;*/
    /*height: 600px ;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*padding-top: 2% ;*/
    /*border-radius: 10px ;*/
    /*background-color: transparent;*/
/*}*/
#on {
    width: 500px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 13%;
    border-radius: 10px;
    background-color: transparent;
}

#on .in{
    width: 500px ;
    height: 470px ;
    border-radius: 10px ;
    background-color: rgba(255,255,255,0.5) ;
}
#on .in>h3{
    width: 100%;
    height: 60px ;
    text-align: center;
    line-height: 60px ;
    color: #ffffff;
    font-size: 25px ;
    background-color: #0067b8;
    border-radius: 10px 10px  0px 0px ;
}
#on .in .conduct{
    width: 100%;
    height: 40px ;
    margin-bottom: 20px ;
    padding-left: 72px ;
    position: relative;
}
#on .in .conduct>.co{
    width: 100px ;
    height: 55px ;
    line-height: 55px ;
    position: absolute;
    right: -35px ;
    top: 0px;
    color: #e01d2c;
    display: none;
}
#on .in .conduct>.co1{
    width: 100px ;
    height: 55px ;
    line-height: 55px ;
    position: absolute;
    right: -35px ;
    top: 0px;
    color: #e01d2c;
    display: none;
}
#on .in form{
    padding-top: 10px ;
}
#on .in .conduct .back-img{
    float: left;
    width: 55px ;
    height: 40px ;
    line-height: 40px ;
   padding-left: 5px ;
    text-align: center;
    background-color: #ffffff;
    border-right: 1px solid #ffffff;
    border-radius: 10px 0px 0px 10px ;
}
#on .in .conduct .send1{
    display: inline-block;
    width: 130px ;
    height: 40px ;
    line-height: 38px ;
    color: #000000;
    margin-left: 28px ;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px ;
}
#on .in .conduct input{
    float: left;
    width: 280px ;
    height: 40px ;
    color: #000000;
    padding-left: 10px ;
    background-color: #ffffff;
    border-radius: 0px 10px 10px 0px ;
}
#on .in .ok{
    outline: none;
    background-color: #535659;
    width: 355px;
    height: 55px;
    margin-left: 72px ;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    /*disabled:true;*/

}
#on .in .jump{
    width: 100%;
    height: 30px ;
    /*margin-top: 25px ;*/
    padding-left: 100px ;
    padding-right: 100px ;
}
#on .in .jump a{
    cursor: pointer;
    font-size: 18px ;
}
#on .in .jump .retrieve{
    float: right;
}
#on .bottom{
    margin-top: 20px ;
    text-align: center;
    font-size: 14px ;
}
/*滑块*/
form>.drag{
    width: 300px;
    height: 38px;
    line-height: 38px;
    background-color: #e8e8e8;
    position: relative;
    margin:0 auto;
}
form>.drag .bg{
    width:40px;
    height: 100%;
    position: absolute;
    background-color: #75CDF9;
}
form>.drag .text{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    user-select: none;
}
form>.drag .btn{
    width:40px;
    height: 38px;
    position: absolute;
    border:1px solid #ccc;
    cursor: move;
    font-family: "宋体";
    text-align: center;
    background-color: #fff;
    user-select: none;
    color:#666;
}

.div-phone a.send1{
    height: 26px;
    text-decoration:none;
    line-height: 26px;
    padding:2px;width: 80px;
    background: #AA8926;
    font-family: '宋体';
    color: #fff;font-size: 12px;
    text-align: center;display: block;
    float: left;border-radius:2px;
    margin-left:2px;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -ms-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.div-phone a.send1:hover{
    text-decoration: none;
    background: #866c1b;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -ms-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
 .div-phone a.send0{
     width: 130px ;
    height: 40px;
     line-height: 40px ;
    text-decoration:none;
    padding:2px;
    background: #A1A1A1;
    font-family: '宋体';
    color: #fff;font-size: 12px;
    text-align: center;
     float: left;
    display: block;
    margin-left: 20px ;
    border-radius:2px;

}
 .div-phone a.send0:hover{
    background: #A1A1A1;
    font-family: '宋体';
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}
span.error{
    height: 40px;
    line-height: 40px;

    padding:2px;
    width: 100px;
    color: red;
    /*padding-left:20px;*/
    /*display: block;*/
    /*float: left;*/
    /*margin-left:10px;*/
    font-size: 12px;
}

.div-phone p{
    display: inline-block;
    line-height: 40px ;
    float: left;
    width: 55px ;
    height: 40px ;
}
