*{
    margin: 0px;
    font-weight: normal;
    padding: 0px ;
    font-family: "宋体","微软雅黑";
}
a{
    text-decoration: none;
    color: #000;
}
p{
    margin: 0px ;
}
ul{
    list-style: none;

}
input{
    border: 0px ;
    outline: none;
}
body,html{
    height: 100%;
}
#on{
    width: 100%;
    height: 100% ;
    background:url("../imgs/index_bg.jpg")no-repeat center ;
    padding-top: 4%;
    background-size: 100% 100%;
}
#on-in{

    height: 100%;
    width: 100%;
    padding: 0px  7% ;
}
@media screen and (max-width: 1270px)  {
    #on{
        width: 1270px ;
    }
    #on-in{
        width:1270px   ;
    }
}
#on .logo {
    width: 110px;
    height: 100px;
    float: left;
}
#on-in .on-time{
    display: inline-block;
    width: 100%;
    height: 120px   ;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
#time{
    display: inline-block;
    width: 350px ;
    height: 100%;
    font-size: 88px;
    color: #ffffff;
    background-color:transparent ;
    float: left;
    margin-left: 250px ;
}
#day-time{
    width: 130px;
    height: 100%;
    display: inline-block;
}
#daytime{
    display: block;
     width: 130px ;
     height: 40% ;
    font-size: 25px;
    color: #ffffff;
     background-color:transparent ;
 }
#day{
    display: block;
    width: 130px ;
    height: 60% ;
    font-size: 25px;
    color: #ffffff;
    background-color:transparent ;
}
#on-in .user{
    display: inline-block;
    float: right;
}
#on-in .user img{
    height:90px ;
    width:90px ;
    float: right;
    margin-left: 10px ;
}
#on-in .user .user-left{
    display: inline-block;
    float: right;
}
#on-in .user .user-left span{
    color: #ffffff;
    font-size: 22px ;
    margin-left: 20px ;
    float: right;

}
#on-in .user .user-left a{
    color: #ffffff;
    font-size: 18px ;
    display: block;
    margin-top: 45px ;
    text-align: right;
}
#on-in .user .user-left a:hover{
    color: #ffffff;
}
#on-in .content{
    width: 100%;
    height: 80% ;
    padding-top: 6%;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
}
#on-in .content ul{
    float: left;
    width: 24%;
    height: 90%;

    /*margin-right: 20px ;*/
}
/*#on-in .content ul:nth-child(4){*/
    /*margin-right: 0px ;*/
/*}*/
#on-in .content li{
    margin-bottom: 3% ;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
}
#on-in .content a{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
}
#on-in .content a span{
    /*font-size: 50px ;*/
    display: inline-block;
}
#on-in .content .modular{
    width:60% ;
    height: 100%;
    /*padding-left:  ;*/
    margin: 0px auto;

}
/*#on-in .content .modular:hover{*/
    /*background-color: ;*/
/*}*/
#on-in .content .Height{
    line-height: 900%;
}
#on-in .content .modular1{
    width:48% ;
    height: 100%;
    /*padding-top: 10px ;*/
    text-align: center;
}
#on-in .content .modular2{
    width:100% ;
    height: 100%;
}
#on-in .name{
    height: 35px ;
    margin-left: 30px ;
    display: inline-block;
    font-size: 28px ;
}
#on-in .name1{
    font-size: 28px ;
}
#on-in .size::before{
    font-size: 35px ;
}
#on-in .content .colour-1{
    background-color: #34a8b4;
}
#on-in .content .colour-2{
    background-color: #e03c58;
}
#on-in .content .colour-3{
    background-color: #16a3a4;
}
#on-in .content .colour-4{
    background-color: #bba680;
}
#on-in .content .colour-5{
    background-color: #86b235;
}
#on-in .content .colour-6{
    background-color: #e2b244;
}
#on-in .content .colour-7{
    background-color: #86b235;
}
#on-in .content .colour-8{
    background-color: #bba680;
}
#on-in .content .colour-9{
    background-color: #e03c58;
}
#on-in .content .colour-10{
    background-color: #375c7e;
}
#on-in .content .colour-11{
    background-color: #34a8b4;
    display: inline-block;
}
#on-in .content .colour-12{
    height: 95%;
    background-color: #86b235;
}
@media screen and (max-width: 1570px)  {
    #on-in .on-time{
        width: 1350px ;
    }
#on-in .content{
width: 1350px ;
}
#on{
width: 1570px;
}
    #on-in .content ul{
        width: 320px ;
        height: 373px;
    }
    #on-in .content li{
        height: 118px ;
        width: 320px ;
    }
    #on-in .content .colour-12,
    #on-in .content .modular2 li{
        height: 373px ;
        width: 320px ;
    }
}
@media screen and (max-height: 700px ){
    #on{
        height: 700px ;
    }
    #on-in .content{
        height: 300px ;
    }
    #on-in .content ul{
        width: 320px ;
    }
    #on-in .content li{
        height: 118px ;
        width: 320px ;
    }
    #on-in .content .colour-12   {
        height: 373px ;
    }
}
/*
工程管理
信息发布
*/

