#content-in{
    width: 100%;
    height: 100% ;
    position: absolute;
    left:0px  ;
    top:  0px ;
    display: inline-block;
    /*background-color: #f6f7f9;*/
    overflow-y:auto;
    overflow-x:auto;
}
#center{
    display: inline-block;
    position: inherit;
    top: 10px ;
    left: calc(50% - 450px);
}
#center td{
    padding-left: 4px ;
}
/**/
/*确定 返回 按钮*/
.ok,
.no{
    width: 60px;
    height: 30px ;
    border-radius:3px  ;
    display: inline-block;
    float: left;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background-color: #787dff;
}

.ok:hover,
.no:hover{
    color: #ffffff;
}
/**/