<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.bd.BdProjectMapper">
    <resultMap id="BaseResultMap" type="com.beans.BdProject">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="abbreviation" property="abbreviation" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="site" property="site" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="stage" property="stage" jdbcType="VARCHAR" />
        <result column="budget" property="budget" jdbcType="DECIMAL" />
        <result column="bidding_type" property="biddingType" jdbcType="VARCHAR" />
        <result column="biddate" property="biddate" jdbcType="TIMESTAMP" />
        <result column="clientid" property="clientid" jdbcType="INTEGER" />
        <result column="capital_source" property="capitalSource" jdbcType="VARCHAR" />
        <result column="deptid" property="deptid" jdbcType="INTEGER" />
        <result column="principal" property="principal" jdbcType="INTEGER" />
        <result column="area_manager" property="areaManager" jdbcType="INTEGER" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
        <result column="accessory" property="accessory" jdbcType="VARCHAR" />
        <result column="userid" property="userid" jdbcType="INTEGER" />
        <result column="processid" property="processid" jdbcType="INTEGER" />
        <result column="process_userid" property="processUserid" jdbcType="INTEGER" />
        <result column="process_state" property="processState" jdbcType="VARCHAR" />
        <association property="principalUser" javaType="com.beans.SysUser" column="principal"
                     select="com.dao.sys.UserMapper.getByID">
        </association>
        <association property="areaManagerUser" javaType="com.beans.SysUser" column="area_manager"
                     select="com.dao.sys.UserMapper.getByID">
        </association>
        <association property="process" javaType="com.beans.SysApprovalProcess" column="processid"
                     select="com.dao.sys.ApprovalProcessMapper.getProcessById">
        </association>
        <association property="client" javaType="com.beans.BdClient" column="clientid"
                     select="com.dao.bd.BdClientMapper.getClientById">
        </association>
    </resultMap>

    <select id="getListById" resultMap="BaseResultMap">
        select *
        from `bd_project`
        where id = #{id}
    </select>

    <insert id="add">
        insert into bd_project
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="code != null" >
                code,
            </if>
            <if test="abbreviation != null" >
                abbreviation,
            </if>
            <if test="name != null" >
                `name`,
            </if>
            <if test="site != null" >
                site,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="stage != null" >
                stage,
            </if>
            <if test="budget != null" >
                budget,
            </if>
            <if test="biddingType != null" >
                bidding_type,
            </if>
            <if test="biddate != null" >
                biddate,
            </if>
            <if test="clientid != 0" >
                clientid,
            </if>
            <if test="capitalSource != null" >
                capital_source,
            </if>
            <if test="deptid != 0" >
                deptid,
            </if>
            <if test="principal != 0" >
                principal,
            </if>
            <if test="areaManager != 0" >
                area_manager,
            </if>
            <if test="content != null" >
                content,
            </if>
            <if test="createtime != null" >
                createtime,
            </if>
            <if test="accessory != null" >
                accessory,
            </if>
            <if test="userid != 0" >
                userid,
            </if>
            <if test="processid != null" >
                processid,
            </if>
            <if test="processUserid != null" >
                process_userid,
            </if>
            <if test="processState != null" >
                process_state,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="code != null" >
                #{code},
            </if>
            <if test="abbreviation != null" >
                #{abbreviation},
            </if>
            <if test="name != null" >
                #{name},
            </if>
            <if test="site != null" >
                #{site},
            </if>
            <if test="type != null" >
                #{type},
            </if>
            <if test="stage != null" >
                #{stage},
            </if>
            <if test="budget != null" >
                #{budget},
            </if>
            <if test="biddingType != null" >
                #{biddingType},
            </if>
            <if test="biddate != null" >
                #{biddate},
            </if>
            <if test="clientid != 0" >
                #{clientid},
            </if>
            <if test="capitalSource != null" >
                #{capitalSource},
            </if>
            <if test="deptid != 0" >
                #{deptid},
            </if>
            <if test="principal != 0" >
                #{principal},
            </if>
            <if test="areaManager != 0" >
                #{areaManager},
            </if>
            <if test="content != null" >
                #{content},
            </if>
            <if test="createtime != null" >
                #{createtime},
            </if>
            <if test="accessory != null" >
                #{accessory},
            </if>
            <if test="userid != 0" >
                #{userid},
            </if>
            <!--<if test="processid != null" >
                #{processid},
            </if>
            <if test="processUserid != null" >
                #{processUserid},
            </if>
            <if test="processState != null" >
                #{processState},
            </if>-->
        </trim>
    </insert>

    <update id="updateById">
        update bd_project
        <set>
            <if test="code != null" >
                code = #{code},
            </if>
            <if test="abbreviation != null" >
                abbreviation = #{abbreviation},
            </if>
            <if test="name != null" >
                `name`= #{name},
            </if>
            <if test="site != null" >
                site = #{site},
            </if>
            <if test="type != null" >
                type = #{type},
            </if>
            <if test="stage != null" >
                stage = #{stage},
            </if>
            <if test="budget != null" >
                budget = #{budget},
            </if>
            <if test="biddingType != null" >
                bidding_type = #{biddingType},
            </if>
            <if test="biddate != null" >
                biddate = #{biddate},
            </if>
            <if test="clientid != 0" >
                clientid = #{clientid},
            </if>
            <if test="capitalSource != null" >
                capital_source = #{capitalSource},
            </if>
            <if test="deptid != 0" >
                deptid = #{deptid},
            </if>
            <if test="principal != 0" >
                principal = #{principal},
            </if>
            <if test="areaManager != 0" >
                area_manager = #{areaManager},
            </if>
            <if test="content != null" >
                content = #{content},
            </if>
            <if test="createtime != null" >
                createtime = #{createtime},
            </if>
            <if test="accessory != null" >
                accessory = #{accessory},
            </if>
            <if test="userid != 0" >
                userid = #{userid},
            </if>
            <if test="processid != null" >
                processid = #{processid},
            </if>
            <if test="processUserid != null" >
                process_userid = #{processUserid},
            </if>
            <if test="processState != null" >
                process_state = #{processState},
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="deleteById">
        delete
        from bd_project
        where id = #{id}
    </delete>
    <select id="getList" resultMap="BaseResultMap">
        select *
        from `bd_project`,`bd_client`
        <trim prefix="where" prefixOverrides="and">
            `bd_client`.`id`=`clientid`
            <if test="userid!=null">
                and  userid=#{userid}
            </if>
            <if test="name != null">
                and `name` like CONCAT('%',#{name},'%')
            </if>
            <if test="type != null">
                and unit_type=#{type}
            </if>
            <if test="code != null">
                and `code`=#{code}
            </if>
            <if test="status!=null">
            and  process_state=#{status}
            </if>
            <if test="start != null">
                and `createtime` &gt;= #{start}
            </if>
            <if test="end != null">
                and `createtime` &lt;= #{end}
            </if>
        </trim>
        ORDER BY `createtime` DESC
        <if test="pageSize!=0">
            LIMIT #{pageIndex},#{pageSize}
        </if>
    </select>
    <select id="getCount" resultType="int">
        select count(1)
        from `bd_project`
        <trim prefix="where" prefixOverrides="and">
            (`principal`=#{userid} OR `examine` LIKE CONCAT('%',#{userid},'%'))
            <if test="name != null">
                and `name` like CONCAT('%',#{name},'%')
            </if>
            <if test="type != null">
                and `type`=#{type}
            </if>
            <if test="code != null">
                and `code`=#{code}
            </if>
            <if test="status!=null">
                and  process_state=#{status}
            </if>
            <if test="start != null">
                and `createtime` &gt;= #{start}
            </if>
            <if test="end != null">
                and `createtime` &lt;= #{end}
            </if>
        </trim>
    </select>
    <select id="getByProcessUser" resultMap="BaseResultMap">
        SELECT *
        FROM `bd_project`
        WHERE `process_userid` = #{processUserId}
    </select>
    <select id="getProjectName" resultType="com.beans.BdProject">
        select id,`abbreviation` from bd_project
    </select>
    <select id="getProjectById" resultType="com.beans.BdProject">
        select id,`abbreviation` from bd_project where id=#{id}
    </select>
</mapper>