<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.mc.McFileBorrowMapper">
    <resultMap id="BaseResultMap" type="com.beans.McFileBorrow">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="deptid" property="deptid" jdbcType="INTEGER"/>
        <result column="createtime" property="createtime" jdbcType="TIMESTAMP"/>
        <result column="userid" property="userid" jdbcType="INTEGER"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="file_num" property="fileNum" jdbcType="INTEGER"/>
        <result column="purpose" property="purpose" jdbcType="VARCHAR"/>
        <result column="returntime" property="returntime" jdbcType="TIMESTAMP"/>
        <result column="consignee" property="consignee" jdbcType="VARCHAR"/>
        <result column="consignee_address" property="consigneeAddress" jdbcType="VARCHAR"/>
        <result column="consignee_phone" property="consigneePhone" jdbcType="VARCHAR"/>
        <result column="accessory" property="accessory" jdbcType="VARCHAR"/>
        <result column="processid" property="processid" jdbcType="INTEGER"/>
        <result column="process_userid" property="processUserid" jdbcType="INTEGER"/>
        <result column="process_state" property="processState" jdbcType="VARCHAR"/>
        <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP"/>
        <association property="dept" javaType="com.beans.SysDept" column="deptid"
                     select="com.dao.sys.DeptMapper.getListById">
        </association>
        <association property="user" javaType="com.beans.SysUser" column="userid"
                     select="com.dao.sys.UserMapper.getByID">
        </association>
        <association property="process" javaType="com.beans.SysApprovalProcess" column="processid"
                     select="com.dao.sys.ApprovalProcessMapper.getProcessById">
        </association>
        <association property="processUser" javaType="com.beans.SysUser" column="process_userid"
                     select="com.dao.sys.UserMapper.getByID">
        </association>
    </resultMap>
    <select id="getListById" resultMap="BaseResultMap">
        select *
        from mc_file_borrow
        where id = #{id}
    </select>
    <update id="updateById">
        update mc_file_borrow
        <set>
            <if test="deptid != 0">
                deptid = #{deptid},
            </if>
            <if test="createtime != null">
                createtime = #{createtime},
            </if>
            <if test="userid != 0">
                userid = #{userid},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="fileNum != 0">
                file_num = #{fileNum},
            </if>
            <if test="purpose != null">
                purpose = #{purpose},
            </if>
            <if test="returntime != null">
                returntime = #{returntime},
            </if>
            <if test="consignee != null">
                consignee = #{consignee},
            </if>
            <if test="consigneeAddress != null">
                consignee_address = #{consigneeAddress},
            </if>
            <if test="consigneePhone != null">
                consignee_phone = #{consigneePhone},
            </if>
            <if test="accessory != null">
                accessory = #{accessory},
            </if>
            <if test="processid != 0">
                processid = #{processid},
            </if>
            <if test="processUserid != null">
                process_userid = #{processUserid},
            </if>
            <if test="processState != null">
                process_state = #{processState},
            </if>
            <if test="updatetime != null">
                updatetime=#{updatetime}
            </if>
        </set>
        where id=#{id}
    </update>
    <insert id="add">
        insert into mc_file_borrow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptid != 0">
                deptid,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="userid != 0">
                userid,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="fileNum != 0">
                file_num,
            </if>
            <if test="purpose != null">
                purpose,
            </if>
            <if test="returntime != null">
                returntime,
            </if>
            <if test="consignee != null">
                consignee,
            </if>
            <if test="consigneeAddress != null">
                consignee_address,
            </if>
            <if test="consigneePhone != null">
                consignee_phone,
            </if>
            <if test="accessory != null">
                accessory,
            </if>
            <if test="processid != 0">
                processid,
            </if>
            <if test="processUserid != 0">
                process_userid,
            </if>
            <if test="processState != null">
                process_state,
            </if>
            <if test="updatetime != null">
                updatetime
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptid != 0">
                #{deptid},
            </if>
            <if test="createtime != null">
                #{createtime},
            </if>
            <if test="userid != null">
                #{userid},
            </if>
            <if test="phone != null">
                #{phone},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="fileNum != 0">
                #{fileNum},
            </if>
            <if test="purpose != null">
                #{purpose},
            </if>
            <if test="returntime != null">
                #{returntime},
            </if>
            <if test="consignee != null">
                #{consignee},
            </if>
            <if test="consigneeAddress != null">
                #{consigneeAddress},
            </if>
            <if test="consigneePhone != null">
                #{consigneePhone},
            </if>
            <if test="accessory != null">
                #{accessory},
            </if>
            <if test="processid != 0">
                #{processid},
            </if>
            <if test="processUserid != 0">
                #{processUserid},
            </if>
            <if test="processState != null">
                #{processState},
            </if>
            <if test="updatetime != null">
                updatetime=#{updatetime}
            </if>
        </trim>
    </insert>
</mapper>