<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.mc.McQualificationMapper">
    <resultMap id="BaseResultMap" type="com.beans.McQualificationCertificate" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="deptid" property="deptid" jdbcType="INTEGER" />
        <result column="userid" property="userid" jdbcType="INTEGER" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="VARCHAR" />
        <result column="borrow" property="borrow" jdbcType="VARCHAR" />
        <result column="security" property="security" jdbcType="INTEGER" />
        <result column="annual_time" property="annualTime" jdbcType="VARCHAR" />
        <result column="annual_principal" property="annualPrincipal" jdbcType="INTEGER" />
        <result column="filename" property="filename" jdbcType="VARCHAR" />
        <result column="watermark" property="watermark" jdbcType="VARCHAR" />
        <result column="accessory" property="accessory" jdbcType="VARCHAR" />
        <result column="processid" property="processid" jdbcType="INTEGER" />
        <result column="deptName" property="deptName" jdbcType="VARCHAR" />
        <result column="process_userid" property="processUserid" jdbcType="INTEGER" />
        <result column="process_state" property="processState" jdbcType="VARCHAR" />
        <result column="pdf_outtime" property="pdf_outtime" jdbcType="INTEGER" />

        <collection property="user"  javaType="SysUser" column="userid"
                    select="com.dao.sys.UserMapper.getByID">
        </collection>
        <collection property="annualUser"  javaType="SysUser" column="annual_principal"
                    select="com.dao.sys.UserMapper.getByID">
        </collection>
        <collection property="process" javaType="SysApprovalProcess" column="processid"
                     select="com.dao.sys.ApprovalProcessMapper.getProcessById">
        </collection>
    </resultMap>

    <insert id="addMcQualification" >
        insert into mc_qualification_certificate
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="deptid != 0" >
                deptid,
            </if>
            <if test="userid != 0" >
                userid,
            </if>
            <if test="type != null" >
                `type`,
            </if>
            <if test="name != null" >
               `name`,
            </if>
            <if test="content != null" >
                content,
            </if>
            <if test="state != null" >
                state,
            </if>
            <if test="borrow != null" >
                borrow,
            </if>
            <if test="security != 0" >
                security,
            </if>
            <if test="annualTime != null" >
                annual_time,
            </if>
            <if test="annualPrincipal != 0" >
                annual_principal,
            </if>
            <if test="filename != null" >
                filename,
            </if>
            <if test="watermark != null" >
                watermark,
            </if>
            <if test="accessory != null" >
                accessory,
            </if>
            <if test="processid != 0" >
                processid,
            </if>
            <if test="processUserid != 0" >
                process_userid,
            </if>
            <if test="processState != null" >
                process_state,
            </if>
            <if test="pdf_outtime != null" >
                pdf_outtime,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="deptid != 0" >
                #{deptid},
            </if>
            <if test="userid != 0" >
                #{userid},
            </if>
            <if test="type != null" >
                #{type},
            </if>
            <if test="name != null" >
                #{name},
            </if>
            <if test="content != null" >
                #{content},
            </if>
            <if test="borrow != null" >
                #{borrow},
            </if>
            <if test="state != null" >
                #{state},
            </if>
            <if test="annualTime != null" >
                #{annualTime},
            </if>
            <if test="security != 0" >
                #{security},
            </if>
            <if test="annualPrincipal != 0" >
                #{annualPrincipal},
            </if>
            <if test="filename != null" >
                #{filename},
            </if>
            <if test="watermark != null" >
                #{watermark},
            </if>
            <if test="accessory != null" >
                #{accessory},
            </if>
            <if test="processid != 0" >
                #{processid},
            </if>
            <if test="processUserid != 0" >
                #{processUserid},
            </if>
            <if test="processState != null" >
                #{processState},
            </if>
            <if test="pdf_outtime != null" >
                #{pdf_outtime},
            </if>
        </trim>
    </insert>

    <update id="updateMcQualification">
        update mc_qualification_certificate
        <set>
            <if test="deptid != 0">
                deptid = #{deptid},
            </if>
            <if test="userid != 0">
                userid = #{userid},
            </if>
            <if test="type != null">
                  `type` = #{type},
            </if>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="borrow != null">
                borrow = #{borrow},
            </if>
            <if test="security != 0">
                security = #{security},
            </if>
            <if test="annualTime != null">
                annual_Time = #{annualTime},
            </if>
            <if test="annualPrincipal != 0">
                annual_principal = #{annualPrincipal},
            </if>
            <if test="filename != null">
                filename = #{filename},
            </if>
            <if test="watermark != null">
                watermark = #{watermark},
            </if>
            <if test="accessory != null">
                accessory = #{accessory},
            </if>
            <if test="processid != 0">
                processid = #{processid},
            </if>
            <if test="processUserid != 0">
                process_userid = #{processUserid},
            </if>
            <if test="processState != null">
                process_state = #{processState},
            </if>
            <if test="pdf_Outtime != null">
                pdf_outtime = #{pdf_Outtime},
            </if>
        </set>
        where id=#{id}
    </update>

    <select id="querybyid"  resultMap="BaseResultMap">
        SELECT *  FROM `mc_qualification_certificate` where `id` = #{id}
    </select>
    <delete id="delete">
        delete
        from mc_qualification_certificate
        where id = #{id}
    </delete>

    <select id="querybytypename"   resultMap="BaseResultMap">
        select `mc_qualification_certificate`.*,`sys_dept`.`name` as  deptName
        from `mc_qualification_certificate`,`sys_dept`
        <trim prefix="where" prefixOverrides="and">
            `sys_dept`.`id` = `mc_qualification_certificate`.`deptid`
            <if test="name != null">
                and `mc_qualification_certificate`.`name` like CONCAT('%',#{name},'%')
            </if>
            <if test="type != null">
                and `mc_qualification_certificate`.`type` like CONCAT('%',#{type},'%')
            </if>
            <if test="content != null">
                and `mc_qualification_certificate`.`content` like CONCAT('%',#{content},'%')
            </if>
            <if test="borrow != null">
                and `mc_qualification_certificate`.`borrow` like CONCAT('%',#{borrow},'%')
            </if>
            <if test="state != null">
                and `mc_qualification_certificate`.`state` like CONCAT('%',#{state},'%')
            </if>
            <if test="staretime != null">
                and `mc_qualification_certificate`.`annual_time`>= #{staretime}
            </if>
            <if test="endtime != null">
                and `mc_qualification_certificate`.`annual_time`&lt;= #{endtime}
            </if>
        </trim>
    </select>

    <select id="querycount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM mc_qualification_certificate
        <trim prefix="where" prefixOverrides="and">
       <if test="name != null">
                and `name` like CONCAT('%',#{name},'%')
            </if>
            <if test="type != null">
                and `type` like CONCAT('%',#{type},'%')
            </if>
            <if test="content != null">
                and `content` like CONCAT('%',#{content},'%')
            </if>
            <if test="borrow != null">
                and `borrow` like CONCAT('%',#{borrow},'%')
            </if>
            <if test="state != null">
                and `state` like CONCAT('%',#{state},'%')
            </if>
            <if test="staretime != null">
                and `mc_qualification_certificate`.`annual_time` >= #{staretime}
            </if>
            <if test="endtime != null">
                and `mc_qualification_certificate`.`annual_time` &lt;= #{endtime}
            </if>

        </trim>
    </select>
    <select id="queryall" resultMap="BaseResultMap">
          select `mc_qualification_certificate`.*
        from `mc_qualification_certificate`
        <trim prefix="where" prefixOverrides="and">
            <if test="projectName != null">
                and `name` like CONCAT('%',#{projectName},'%')
            </if>
        </trim>
    </select>


</mapper>
