<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.MyWorkMapper">
    <resultMap id="BaseResultMap" type="com.beans.MyWork">
        <result column="createtime" property="createtime" jdbcType="TIMESTAMP"/>
        <result column="id" property="id" jdbcType="INTEGER"/>
        <association property="user" javaType="com.beans.SysUser" column="userid"
                     select="com.dao.sys.UserMapper.getByID">
        </association>
        <association property="process" javaType="com.beans.SysApprovalProcess" column="processid"
                     select="com.dao.sys.ApprovalProcessMapper.getProcessById">
        </association>
        <association property="processUser" javaType="com.beans.SysUser" column="process_userid"
                     select="com.dao.sys.UserMapper.getByID">
        </association>
    </resultMap>
    <select id="getList" resultMap="BaseResultMap">
        DROP TABLE IF EXISTS tmp_table;
        CREATE TEMPORARY TABLE tmp_table
        <!--商务盖章申请-->
        SELECT `id`,`userid`,`processid`,`process_userid`,`createtime`
        FROM `mc_stamp`
        where `process_state` = '进行中'
          and process_userid = #{userid};
        <!--项目立项申请-->
        INSERT INTO tmp_table
        SELECT `id`, `userid`,`processid`,`process_userid`,`createtime`
        FROM `bd_project`
        where `process_state` = '进行中'
          and process_userid = #{userid};
        <!--原文件借用申请-->
        INSERT INTO tmp_table
        SELECT `id`,`userid`,`processid`,`process_userid`,`createtime`
        FROM mc_file_borrow
        where `process_state` = '进行中'
          and process_userid = #{userid};
        <!--人员派遣申请-->
        INSERT INTO tmp_table
        SELECT `id`,`userid`,`processid`,`process_userid`,`createtime`
        FROM mc_personnel_dispatched
        where `process_state` = '进行中'
          and process_userid = #{userid};
        <!--商务材料申请-->
        INSERT INTO tmp_table
        SELECT `id`,`userid`,`processid`,`process_userid`,`createtime`
        FROM mc_materials
        where `process_state` = '进行中'
        and process_userid = #{userid};
        <!--资料费申请-->
        INSERT INTO tmp_table
        SELECT `id`,`userid`,`processid`,`process_userid`,`createtime`
        FROM `mc_datum_cost`
        where `process_state` = '进行中'
        and process_userid = #{userid};
        <!--资质证书申请-->
        INSERT INTO tmp_table
        SELECT `id`,`userid`,`processid`,`process_userid`,`createtime`
        FROM `mc_qualification_certificate`
        where `process_state` = '进行中'
        and process_userid = #{userid};
        <!--注册备案申请-->
        INSERT INTO tmp_table
        SELECT `id`,`principal` as userid,`processid`,`process_userid`,`createtime`
        FROM `mc_register_records`
        where `process_state` = '进行中'
        and process_userid = #{userid};

        SELECT *
        FROM tmp_table
        <trim prefix="where" prefixOverrides="and">
            <if test="id != 0">
                and  id=#{id}
            </if>
            <if test="processid != 0">
                and  processid=#{processid}
            </if>
            <if test="start != null">
                and `createtime` &gt;= #{start}
            </if>
            <if test="end != null">
                and `createtime` &lt;= #{end}
            </if>
        </trim>
        ORDER BY `createtime`
        <if test="pageSize!=0">
            LIMIT #{pageIndex},#{pageSize}
        </if>
    </select>
    <select id="getCount" resultType="int">
        SELECT count(1)
        FROM tmp_table
        <trim prefix="where" prefixOverrides="and">
            <if test="id != 0">
                and  id=#{id}
            </if>
            <if test="processid != 0">
                and  processid=#{processid}
            </if>
            <if test="start != null">
                and `createtime` &gt;= #{start}
            </if>
            <if test="end != null">
                and `createtime` &lt;= #{end}
            </if>
        </trim>
    </select>
</mapper>
