<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.sd.SdSalesContractInventoryMapper">
    <resultMap id="BaseResultMap" type="com.beans.SdSalesContractInventory">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="project_id" property="projectId" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="system" property="system" jdbcType="INTEGER"/>
        <result column="sales_contract" property="salesContract" jdbcType="INTEGER"/>
        <result column="total" property="total" jdbcType="DECIMAL"/>

        <association property="project" javaType="com.beans.BdProject" column="project_id"
                     select="com.dao.bd.BdProjectMapper.getProjectById">
        </association>
        <association property="sdSalesContract" javaType="com.beans.SdSalesContract" column="sales_contract"
                     select="com.dao.sd.SdSalesContractMapper.querybyid">
        </association>
        <association property="systemBean" javaType="com.beans.system" column="system"
                     select="com.dao.system.systemMapper.querybyid">
        </association>

    </resultMap>
    <insert id="addSalesContractInventory"  parameterType="com.beans.SdSalesContractInventory" useGeneratedKeys="true" keyProperty="id">
        insert into sd_sales_contract_inventory
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != 0">
                project_id,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="system != 0">
                system,
            </if>
            <if test="salesContract != 0">
                sales_contract,
            </if>
            <if test="total != null">
                total,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != 0">
                #{projectId},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="system != 0">
                #{system},
            </if>
            <if test="salesContract != 0">
                #{salesContract},
            </if>
            <if test="total != null">
                #{total},
            </if>

        </trim>
    </insert>


    <update id="updateInventory">
        update sd_sales_contract_inventory
        <set>
            <if test="projectId != 0">
                project_id = #{projectId},
            </if>
            <if test="type != null">
                `type` = #{type},
            </if>
            <if test="system != 0">
                `system` = #{system},
            </if>
            <if test="salesContract != 0">
                sales_contract = #{salesContract},
            </if>
            <if test="total != null">
                total = #{total},
            </if>

        </set>
        where id=#{id}
    </update>
    <delete id="deletecontractInven">
        delete
        from sd_sales_contract_inventory
        where id = #{id}
    </delete>


    <select id="querycountProjectid" resultType="int">
        select count(1)
        from sd_sales_contract_inventory
        where project_id = #{projectId}

    </select>

    <select id="queryContractInventorbyid" resultMap="BaseResultMap">
        select *
        from sd_sales_contract_inventory
        where id = #{id}
    </select>

    <select id="querynewdata" resultType="com.beans.SdSalesContractInventory">
        select * from `sd_sales_contract_inventory` s
        ORDER BY ABS(NOW() - s.state_time) ASC
        limit 1

    </select>


    <select id="querybysome" resultType="com.beans.SdSalesContractInventory">
            select * from `sd_sales_contract_inventory`
        <trim prefix="where" prefixOverrides="and">
            <if test="projectId != 0">
                and  project_id = #{projectId}
            </if>

            <if test="system != 0">
                and `system` = #{system}
            </if>
            <if test="type != null">
                and `type`=#{type}
            </if>

          </trim>
    </select>
    <select id="query" resultMap="BaseResultMap">
        select * from `sd_sales_contract_inventory`
        <trim prefix="where" prefixOverrides="and">
            <if test="projectId != 0">
                and  project_id = #{projectId}
            </if>

            <if test="system != 0">
                and `system` = #{system}
            </if>
            <if test="type != null">
                and `type`=#{type}
            </if>
        </trim>
        <if test="pageSize!=0">
            LIMIT #{pageIndex},#{pageSize}
        </if>
    </select>
    <select id="queryCount" resultType="java.lang.Integer">
        select count(*) from `sd_sales_contract_inventory`
        <trim prefix="where" prefixOverrides="and">
            <if test="projectId != 0">
                and  project_id = #{projectId}
            </if>

            <if test="system != 0">
                and `system` = #{system}
            </if>
            <if test="type != null">
                and `type`=#{type}
            </if>
        </trim>
    </select>

    <select id="getbyprojectidandInt" resultMap="ResultMap">
        SELECT *  FROM `sd_sales_contract_inventory`  WHERE `project_id`=#{id} and `type`='新建清单'
    </select>
    <resultMap id="ResultMap" type="com.beans.SdSalesContractInventory">
    <id column="id" property="id"/>
        <result column="project_id" property="projectId" jdbcType="INTEGER"/>
    <collection property="list" javaType="java.util.ArrayList" ofType="com.beans.SdSalesInventory"
                column="id" select="getall">
    </collection>
        <collection property="project" javaType="com.beans.BdProject" column="project_id"
                     select="com.dao.bd.BdProjectMapper.getProjectAllById">
        </collection>
    </resultMap>
    <select id="getall" resultType="com.beans.SdSalesInventory">
        SELECT *
        FROM `sd_sales_inventory`
        WHERE `contractid` = #{id}
    </select>

</mapper>