<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.sup.SupplierMapper">
    <resultMap id="BaseResultMap" type="com.beans.Supplier" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="establish_time" property="establishTime" jdbcType="VARCHAR" />
        <result column="registered_capital" property="registeredCapital" jdbcType="VARCHAR" />
        <result column="legal_person" property="legalPerson" jdbcType="VARCHAR" />
        <result column="registered_address" property="registeredAddress" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="fax" property="fax" jdbcType="VARCHAR" />
        <result column="postal_code" property="postalCode" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="grade" property="grade" jdbcType="VARCHAR" />
        <result column="cooperation_records" property="cooperationRecords" jdbcType="VARCHAR" />
        <result column="credential_accessory" property="credentialAccessory" jdbcType="VARCHAR" />
        <result column="credential_explain" property="credentialExplain" jdbcType="VARCHAR" />
        <result column="tfn" property="tfn" jdbcType="VARCHAR" />
        <result column="bankaccount" property="bankaccount" jdbcType="VARCHAR" />
        <result column="bankname" property="bankname" jdbcType="VARCHAR" />
        <result column="bankaddress" property="bankaddress" jdbcType="VARCHAR" />
        <result column="cash_account" property="cashAccount" jdbcType="VARCHAR" />
        <result column="cash_account_name" property="cashAccountName" jdbcType="VARCHAR" />
        <result column="recorder" property="recorder" jdbcType="INTEGER" />
        <collection property="supplierTrademarks"  javaType="java.util.ArrayList" ofType="com.beans.SupplierStaffMiddle" column="id"
                     select="com.dao.sup.MiddleMapper.querybysupplierId">
        </collection>
        <collection property="sysUser" javaType="com.beans.SysUser" column="recorder"
                     select="com.dao.sys.UserMapper.getByID">
        </collection>
    </resultMap>

    <insert id="addSupplier"  parameterType="com.beans.Supplier" useGeneratedKeys="true" keyProperty="id">
        insert into supplier
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != 0" >
                id,
            </if>
            <if test="name != null" >
                `name`,
            </if>
            <if test="code != null" >
                `code`,
            </if>
            <if test="establishTime != null" >
                establish_time,
            </if>
            <if test="registeredCapital != null" >
                registered_capital,
            </if>
            <if test="legalPerson != null" >
                legal_person,
            </if>
            <if test="registeredAddress != null" >
                registered_address,
            </if>
            <if test="phone != null" >
                phone,
            </if>
            <if test="fax != null" >
                fax,
            </if>
            <if test="postalCode != null" >
                postal_code,
            </if>
            <if test="email != null" >
                email,
            </if>
            <if test="url != null" >
                url,
            </if>
            <if test="type != null" >
                `type`,
             </if>
            <if test="grade != null" >
                `grade`,
            </if>
            <if test="cooperationRecords != null" >
                `cooperation_records`,
            </if>
            <if test="credentialAccessory != null" >
                credential_accessory,
            </if>
            <if test="credentialExplain != null" >
                credential_explain,
            </if>
            <if test="tfn != null" >
                tfn,
            </if>
            <if test="bankaccount != null" >
                bankaccount,
            </if>
            <if test="bankname != null" >
                bankname,
            </if>
            <if test="bankaddress != null" >
                bankaddress,
            </if>
            <if test="cashAccount != null" >
                cash_account,
            </if>
            <if test="cashAccountName != null" >
                cashAccount_name,
            </if>
            <if test="recorder != 0" >
                recorder
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != 0" >
                #{id},
            </if>
            <if test="name != null" >
                #{name},
            </if>
            <if test="code != null" >
                #{code},
            </if>
            <if test="establishTime != null" >
                #{establishTime},
            </if>
            <if test="registeredCapital != null" >
                #{registeredCapital},
            </if>
            <if test="legalPerson != null" >
                #{legalPerson},
            </if>
            <if test="registeredAddress != null" >
                #{registeredAddress},
            </if>
            <if test="phone != null" >
                #{phone},
            </if>
            <if test="fax != null" >
                #{fax},
            </if>
            <if test="postalCode != null" >
                #{postalCode},
            </if>
            <if test="email != null" >
                #{email},
            </if>
            <if test="url != null" >
                #{url},
            </if>
            <if test="type != null" >
                #{type},
            </if>
            <if test="grade != null" >
                #{grade},
            </if>

            <if test="cooperationRecords != null" >
                #{cooperationRecords},
            </if>
            <if test="credentialAccessory != null" >
                #{credentialAccessory},
            </if>
            <if test="credentialExplain != null" >
                #{credentialExplain},
            </if>
            <if test="tfn != null" >
                #{tfn},
            </if>
            <if test="bankaccount != null" >
                #{bankaccount},
            </if>
            <if test="bankname != null" >
                #{bankname},
            </if>
            <if test="bankaddress != null" >
                #{bankaddress},
            </if>
            <if test="cashAccount != null" >
                #{cashAccount},
            </if>
            <if test="cashAccountName != null" >
                #{cashAccountName},
            </if>
            <if test="recorder != 0" >
                #{recorder}
            </if>
        </trim>
    </insert>


    <update id="updateSupplier">
            update supplier
            <set>
                <if test="name != null">
                    `name` = #{name},
                </if>
                <if test="code != null">
                    code = #{code},
                </if>
                <if test="establishTime != null">
                    establish_time = #{establishTime},
                </if>
                <if test="registeredCapital != null">
                   `registered_capital`= #{registeredCapital},
                </if>
                <if test="legalPerson != null">
                    legal_person = #{legalPerson},
                </if>
                <if test="registeredAddress != null">
                    registered_address = #{registeredAddress},
                </if>
                <if test="phone != null">
                    phone = #{phone},
                </if>
                <if test="fax != null">
                    fax = #{fax},
                </if>
                <if test="postalCode != null">
                    postal_code = #{postalCode},
                </if>
                <if test="email != null">
                    email = #{email},
                </if>
                <if test="url != null">
                    url = #{url},
                </if>
                <if test="type != null">
                    `type` = #{type},
                </if>
                <if test="grade != null">
                    grade = #{grade},
                </if>

                <if test="cooperationRecords != null">
                    cooperation_records = #{cooperationRecords},
                </if>
                <if test="credentialAccessory != null">
                    credentialaccessory = #{credentialAccessory},
                </if>
                <if test="credentialExplain != null">
                    `credential_explain`= #{credentialExplain},
                </if>
                <if test="tfn != null">
                    tfn = #{tfn},
                </if>
                <if test="bankaccount != null">
                    bankaccount = #{bankaccount},
                </if>
                <if test="bankname != null">
                    bankname = #{bankname},
                </if>
                <if test="bankaddress != null">
                    bankaddress = #{bankaddress},
                </if>
                <if test="cashAccount != null">
                    cashAccount = #{cashAccount},
                </if>
                <if test="cashAccountName != null">
                    cashAccountName = #{cashAccountName},
                </if>
                <if test="recorder != 0">
                    recorder = #{recorder},
                </if>
            </set>
            where id=#{id}

    </update>

    <delete id="deleteSupplier">
        delete
        from supplier
        where id = #{id}
    </delete>

    <select id="querybysome" resultMap="BaseResultMap">
        SELECT * FROM supplier
        <trim prefix="where" prefixOverrides="and">

            <if test="name != null">
                and `supplier`.`name` like CONCAT('%',#{name},'%')
            </if>
            <if test="code != null">
                and `supplier`.`code` like CONCAT('%',#{code},'%')
            </if>
            <if test="traname != null">
                AND id IN(
                SELECT DISTINCT  supplier_id FROM`supplier_staff_middle` WHERE staff IN(  SELECT id
                FROM supplier_trademark
                WHERE supplier_trademark.`name` LIKE    CONCAT('%',#{traname},'%')))
            </if>
        </trim>
        <if test="pageSize!=0">
            LIMIT #{pageIndex},#{pageSize}
        </if>
    </select>
    <select id="querycount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM supplier
        <trim prefix="where" prefixOverrides="and">

            <if test="name != null">
                and `supplier`.`name` like CONCAT('%',#{name},'%')
            </if>
            <if test="code != null">
                and `supplier`.`code` like CONCAT('%',#{code},'%')
            </if>
            <if test="traname != null">
                AND id IN(
                SELECT DISTINCT  supplier_id FROM`supplier_staff_middle` WHERE staff IN(  SELECT id
                FROM supplier_trademark
                WHERE supplier_trademark.`name` LIKE    CONCAT('%',#{traname},'%')))
            </if>
        </trim>
    </select>
    <select id="querybyid" resultMap="BaseResultMap">
        SELECT * FROM supplier
         where `supplier`.`id`=#{id};
    </select>
    <select id="queryAll" resultMap="BaseResultMap">
        SELECT * FROM supplier
    </select>

</mapper>
