<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.sup.SupplierTrademarkMapper">
    <resultMap id="BaseResultMap" type="com.beans.SupplierTrademark" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="system_name" property="systemName" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="product" property="product" jdbcType="VARCHAR" />
        <result column="english_name" property="englishName" jdbcType="VARCHAR" />
        <result column="enterprise_name" property="enterpriseName" jdbcType="VARCHAR" />
        <result column="origin_place" property="originPlace" jdbcType="VARCHAR" />
        <result column="url" property="url" jdbcType="VARCHAR" />

        <association property="system" javaType="com.beans.system" column="system_name"
                     select="com.dao.system.systemMapper.querybyid">
        </association>

    </resultMap>
    <insert id="addSrademark" >
        insert into supplier_trademark
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="systemName != null" >
                `system_name`,
            </if>
            <if test="name != null" >
               `name`,
            </if>
            <if test="product != null" >
                product,
            </if>
            <if test="englishName != null" >
                english_name,
            </if>
            <if test="enterpriseName != null" >
                enterprise_name,
            </if>
            <if test="originPlace != null" >
                origin_place,
            </if>
            <if test="url != null" >
                url,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="systemName != null" >
                #{systemName},
            </if>
            <if test="system_name != null" >
                #{name},
            </if>
            <if test="product != null" >
                #{product},
            </if>
            <if test="englishName != null" >
                #{englishName},
            </if>
            <if test="enterpriseName != null" >
                #{enterpriseName},
            </if>
            <if test="originPlace != null" >
                #{originPlace},
            </if>
            <if test="url != null" >
                #{url},
            </if>
        </trim>
    </insert>


    <update id="updateSrademark">
        update supplier_trademark
        <set>
            <if test="systemName != null">
                `system_Name` = #{systemName},
            </if>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="product != null">
                product = #{product},
            </if>
            <if test="englishName != null">
                english_name = #{englishName},
            </if>
            <if test="enterpriseName != null">
                enterprise_name = #{enterpriseName},
            </if>
            <if test="originPlace != null">
                origin_place = #{originPlace},
            </if>
            <if test="url != null">
                url = #{url},
            </if>

        </set>
        where id=#{id}
    </update>

    <select id="querybyid"  resultMap="BaseResultMap">
        SELECT *  FROM `supplier_trademark` where `id` = #{id}
    </select>

    <delete id="deleteSrademark">
        delete
        from supplier_trademark
        where id = #{id}

    </delete>

    <select id="querybysome"   resultMap="BaseResultMap">
    select *
    from `supplier_trademark`
    <trim prefix="where" prefixOverrides="and">
        <if test="name != null">
            and `name` like CONCAT('%',#{name},'%')
        </if>
        <if test="product != null">
            and `product` like CONCAT('%',#{product},'%')

        </if>
        <if test="enterpriseName != null">
            and `enterprise_name` like CONCAT('%',#{enterpriseName},'%')
        </if>
    </trim>
        <if test="pageSize!=0">
            LIMIT #{pageIndex},#{pageSize}
        </if>
    </select>
    <select id="querycount" resultType="java.lang.Integer">
            SELECT count(*)
            FROM supplier_trademark
            <trim prefix="where" prefixOverrides="and">
                <if test="name != null">
                    and `name` like CONCAT('%',#{name},'%')
                </if>
                <if test="product != null">
                    and `product` like CONCAT('%',#{product},'%')
                </if>

                    <if test="enterpriseName != null">
                        and `enterprise_name` like CONCAT('%',#{enterpriseName},'%')
                    </if>
            </trim>
    </select>
    <select id="allSupplierTrademark" resultMap="BaseResultMap" >
        SELECT *
        FROM supplier_trademark

    </select>

</mapper>