<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.sys.SysUserBillMapper">
    <resultMap id="BaseResultMap" type="com.beans.SysUserBill">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="userName" property="userName" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="amount" property="amount" jdbcType="INTEGER"/>
        <result column="tradeDate" property="tradeDate" jdbcType="TIMESTAMP"/>
        <result column="reciprocal" property="reciprocal" jdbcType="VARCHAR"/>

    </resultMap>
    <insert id="addBill">
        INSERT INTO `sys_user_bill`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=0">
                `id`,
            </if>
            <if test="userId!=0">
                `user_id`,
            </if>
            <if test="type!=null">
                `type`,
            </if>
            <if test="amount!=0">
                `amount`,
            </if>
            <if test="tradeDate!=null">
                `tradeDate`,
            </if>
            <if test="reciprocal!=null">
                `reciprocal`
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id!=0">
                #{id},
            </if>
            <if test="userId!=null">
                #{userId},
            </if>
            <if test="type!=null">
                #{type},
            </if>
            <if test="amount!=0">
                #{amount},
            </if>
            <if test="tradeDate!=null">
                #{tradeDate},
            </if>
            <if test="reciprocal!=null">
                #{reciprocal}
            </if>

        </trim>

    </insert>
    <select id="queryBiiByUserId" resultMap="BaseResultMap">
        SELECT `sys_user_bill`.`id`,
        `sys_user_bill`.`user_id`,
        `sys_user`.`name` AS `userName`,
        `sys_user_bill`.`type`,
        `sys_user_bill`.`amount`,
        `sys_user_bill`.`trade_date`,
        `sys_user_bill`.`reciprocal`
        FROM `sys_user_bill`,`sys_user`
        <trim prefix="where" suffixOverrides="and">
        <if test="userId!=0">
             `sys_user_bill`.`user_id` =#{userId}
        </if>
        </trim>
        and `sys_user`.`id`=`sys_user_bill`.`user_id`
        order  by `sys_user_bill`.`trade_date`
        <if test="pageSize!=0">

            LIMIT #{pageIndex},#{pageSize}
        </if>
    </select>
    <select id="queryCountByUserid" resultType="int">
        select count(1)
        FROM `sys_user_bill`
        <trim prefix="where" suffixOverrides="and">
            <if test="userId!=0">
                 `sys_user_bill`.`user_id` =#{userId}
            </if>
        </trim>
    </select>
    <select id="queryBillById" resultMap="BaseResultMap">
        SELECT `sys_user_bill`.`id`,
        `sys_user_bill`.`user_id`,
        `sys_user`.`name` AS `userName`,
        `sys_user_bill`.`type`,
        `sys_user_bill`.`amount`,
        `sys_user_bill`.`trade_date`,
        `sys_user_bill`.`reciprocal`
        FROM `sys_user_bill`,`sys_user`
        <trim prefix="where" suffixOverrides="and">

            <if test="id!=0">
                  `sys_user_bill`.`id` =#{id}
            </if>
            and `sys_user`.`id`=`sys_user_bill`.`user_id`
            order  by `sys_user_bill`.`trade_date`
        </trim>
    </select>

</mapper>