#content-in{
    width: 100%;
    height: 100% ;
    position: absolute;
    left:0px  ;
    top:  0px ;
    display: inline-block;
    /*background-color: #f6f7f9;*/
    overflow-y:auto;
    overflow-x:auto;
}
#center{
    display: inline-block;
    position: inherit;
    top: 10px ;
    left: calc(50% - 600px);
}
#center td{
    padding-left: 4px ;
}
/**/
#on{
    margin-top: 10px ;
    margin-bottom: 0px ;
    height: 75px ;
}
#on div{
    width: 380px ;
    display: inline-block;
}
#con input  {
    width: 100%;
    height: 30px ;
    text-align: center;
}
#con select{
    width: 90px ;
    height: 30px ;
}
#add{
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    line-height: 20px ;
    cursor:pointer;
    text-align: center;
    display: inline-block;
    width: 50px ;
    height: 20px ;
    background-color: #787dff;
    border-radius: 5px ;
}
#remove{
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    line-height: 20px ;
    cursor:pointer;
    text-align: center;
    display: inline-block;
    width: 50px ;
    height: 20px ;
    background-color: #787dff;
    border-radius: 5px ;
}
form{
    display: block;
    width: 1200px ;
    height: 750px ;
    /*position: relative;*/
    overflow:auto;
}
/*#no{*/
    /*position: absolute;*/
    /*button:10px  ;*/
    /*left: 50%;*/
/*}*/
/*#ok{*/
    /*position: absolute;*/
    /*button:10px  ;*/
    /*left: 50%;*/
/*}*/
#con td{
    border: 1px solid
}
.File-in{
    width: 60px;
    height: 30px ;
    border-radius:3px  ;
    display: inline-block;

    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background-color: #787dff;
}